<mat-form-field appearance="legacy" class="form-container">
  <mat-label>{{labelChild}}</mat-label>
  <input type="text" matInput [formControl]="myControl"
         [matAutocomplete]="auto" (ngModelChange)="updatedVal($event)">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option"
                [ngClass]="{'hide-autocomplete': !showAutocomplete}"
                (click)="onValueChange(option)">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  <span matSuffix><mat-icon>search</mat-icon></span>
</mat-form-field>
