mat-form-field {
  float: right;
  display: inline-block;
  position: relative;
  line-height: 36px;
  input {
    padding-left: 16px;
  }
  min-width: auto;
}

.hide-autocomplete {
  display: none;
}

@media screen and (max-width: 1024px) {
  mat-form-field {
    min-width: auto;
    max-width: available;
  }
}

@media screen and (min-width: 1024px) {
  mat-form-field {
    min-width: 250px !important;
    max-width: available;
  }
}
