mat-card-content.mat-card-content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: available;
}

mat-card.mat-card {
  position: relative;
  width: available;
  padding-top: 0 !important;
  margin-bottom: 11px;
}

mat-card-title.mat-card-title {
  font-size: 16pt;
  margin-left: 10px ;
}

