<button mat-button [matMenuTriggerFor]="menu_first">Button</button>
<button mat-button >Button</button>
<button mat-button >Button</button>
<button mat-button >Button</button>
<button mat-button >Button</button>

<mat-menu #menu_first="matMenu" [overlapTrigger]="false" class="full-width">
  <div class="matMenuDiv">
    <mat-list>
      <mat-list-item class="mat-list-header">Button</mat-list-item>
            <mat-list-item><a mat-button >Button</a></mat-list-item>
            <mat-list-item><a mat-button >Button</a></mat-list-item>
            <mat-list-item><a mat-button >Button</a></mat-list-item>
            <mat-list-item><a mat-button >Button</a></mat-list-item>
            <mat-list-item><a mat-button >Button</a></mat-list-item>
    </mat-list>
  </div>


</mat-menu>
