.main-body-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .main-body {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .main-body {
    position: relative;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
  }
}

.main-body-nocenter {
  position: relative;
  padding: 11px 6px 6px 6px;
  width: 20%;
}

.main-body-center {
  position: relative;
  padding: 11px 11px 11px 11px;
  width: 60%;
}

table {
  width: 100%;
}

mat-form-field.mat-form-field {
  margin: 10px 10px 10px 10px;
}

mat-card-header.mat-card-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

app-input-search.app-input-search {
  width: 100%;
}

mat-card.mat-card {
  margin-bottom: 11px;

  div.mat-card-header-text {
    display: flex;
    align-items: center;
  }
}

