

<mat-card class="center">
  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="login()">
      <div class="inputs">
        <mat-form-field appearance="outline">
          <mat-label>Логин</mat-label>
          <input matInput placeholder="Ваш логин..." type="text" name="username" autocomplete="on" tabindex="1" required formControlName="login">
        </mat-form-field>
      </div>
      <div class="inputs">
        <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput placeholder="Ваш пароль..." name="password" type="password" autocomplete="on" tabindex="2" required formControlName="password">
        </mat-form-field>
      </div>
      <div class="button-row">
        <button class="btn" type="submit">Войти</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

