<button mat-button [matMenuTriggerFor]="profileDrop">
  {{user?.username}}
  <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #profileDrop="matMenu">
  <button mat-menu-item>
    <mat-icon>face</mat-icon>
    <span>Профиль</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Настройки</span>
  </button>
  <button mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>Помощь</span>
  </button>
  <app-feedback></app-feedback>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="auth.logout(); authS.SocketClose();" >
    <mat-icon>exit_to_app</mat-icon>
    <span>Выход</span>
  </button>
</mat-menu>
