@import '~@angular/material/theming';
$config: mat-typography-config();

.inputs {
  display: inline-flex;
  width: 100%;
  mat-form-field {
    width: inherit;
  }
}

mat-card-content {
  display: block;
}

#button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 400px!important;
  font-family: mat-font-family($config);
  font-weight: bold;
}

textarea {
  min-height: 200px;
}


